build

# Gradle
.gradle
build/
local.properties
/local.properties

# IntelliJ .idea folder
*.iml
.idea/*
!.idea/copyright
# Keep the code styles.
!/.idea/codeStyles
/.idea/codeStyles/*
!/.idea/codeStyles/Project.xml
!/.idea/codeStyles/codeStyleConfig.xml
# Keep icon
!/.idea/icon.png

# General
.DS_Store
.externalNativeBuild
.cxx

# Release Keys
keys

# Android Studio
captures

# Firebase
google-services.json

# Xcode
xcuserdata
/.idea/kotlinScripting.xml
app/ios/Linkding.xcworkspace/*
app/ios/Linkding.xcodeproj/*
!app/ios/Linkding.xcodeproj/project.pbxproj
