build

# Gradle
.gradle
build/
local.properties
/local.properties

# IntelliJ .idea folder
.idea
gradle.xml
*.iml

# General
.DS_Store
.externalNativeBuild
.cxx

# Release Keys
keys

# Android Studio
captures

# Firebase
google-services.json

# Xcode
xcuserdata
/.idea/kotlinScripting.xml
app/ios/iosApp.xcworkspace/*
app/ios/iosApp.xcodeproj/*
!app/ios/iosApp.xcodeproj/project.pbxproj
